@import 'tailwindcss';

@theme {
  --grid-template-columns-18: repeat(18, minmax(0, 1fr));

  --grid-template-rows-8: repeat(8, minmax(0, 1fr));
  --grid-template-rows-9: repeat(9, minmax(0, 1fr));

  --grid-column-span-18: span 18 / span 18;

  --background-image-stripes: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b7e1cd' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.base {
  @apply flex items-center justify-center aspect-square lg:text-base text-xs
}

.pc-normal {
  @apply border bg-[#a0e89c] border-[#a5a5a5]
}

.pc-laptop {
  @apply border bg-[#5abc9d] border-[#a5a5a5]
}

.pc-semiactive {
  @apply border bg-stripes bg-repeat bg-[#f7825b]
}

.pc-active {
  @apply border bg-[#f7825b] border-[#a5a5a5]
}

.pc-selected {
  @apply border bg-[#49caf9] border-[#a5a5a5]
}

a {
  color: rgb(var(--v-theme-primary));
}